main{
    padding-top: 100px;
    padding-left: 25%;
}


.contactLogos{
    height: 50px;
}
#email{
    display: flex;

}
#linkedIn{
    display: flex;
}
#linkedInAdd{
    margin-left: 30px;
}

#emailAdd{
    margin-left: 30px;
}