#portait{
    max-width: 20%;
    height: auto;
    margin-left: 10% ;
    border-radius: 8%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.portrait-dark{
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.2),;
}

.logos{
    max-height: 100px;
}


#aboutMe{
    display: inline-flex;
    
}
#bio {
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50%;

}

#logoContain{
    display: flex;
    width: 80%;
    justify-content: space-between;
    flex-wrap: wrap;


}